/*showing just one event in the calendar + need to adjust in js settings as well*/

.vertical-carousel .jcarousel-skin-default .jcarousel-clip-vertical {
	height: 520px;
}

.vertical-carousel .jcarousel-skin-default .jcarousel-container-vertical {
	height: 520px;
	width: auto;
	padding: 0;
}

#superfish-1 a {
	padding: 14px 0;
	padding-top: 14px;
}

#header {
	padding-top: 25px;
}

#main-wrapper {
	padding-top: 50px;
	padding-bottom: 15px;
}

section.block .content li a.active-trail.active {
	color: #BC2800;
}

.view-id-services {
	clear:both;
}
label p {
	color: gray;
	font-weight: normal;
	font-size: 11px;
}
