/* narrower navigation menu */
.section-1 .col1 {
	height: 253px;
}

/*
showing just one event in the calendar + need to adjust in js settings as well
.vertical-carousel .jcarousel-skin-default .jcarousel-container-vertical {
	height: 260px;
	width: auto;
	padding: 0;
}
.vertical-carousel .jcarousel-skin-default .jcarousel-clip-vertical {
	height: 130px;
}
*/

#superfish-1 a {
	padding: 14px 0;
	padding-top: 14px;
}

#header {
	padding-top: 25px;
}

#main-wrapper {
	padding-top: 50px;
	padding-bottom: 15px;
}

section.block .content li a.active-trail.active {
	color: #BC2800;
}
