<p class="form-control-static dropzone-previews">
	<input type="hidden" id="{{input_id}}" name="{{input_name}}" value=""/>
	<a href="#" class="btn btn-success btn-sm dz-clickable">
		<i class="fa fa-cloud-upload"></i>
		Upload picture
	</a>
</p>