h1 {
    font-size:50px;
    line-height:53px;
    padding-top: 10px;
    margin-bottom:30px;
    text-transform:uppercase;
    font-family: 'BenchNine', sans-serif;
    font-weight: 700;
    color: #fff;
}

h2 {
    font-size:40px;
    line-height:53px;
    padding-top: 10px;
    margin-bottom:15px;
    text-transform:uppercase;
    font-family: 'BenchNine', sans-serif;
    font-weight: 700;
    color: #fff;
}

h3 {
    padding-top: 10px;
    margin-bottom:15px;
    font-size: 20px;
    line-height: 26px;
    font-family: 'BenchNine', sans-serif;
    color: #fff;
}

h4 {
    color: #fff;
}

.events .title-2 {
	font-size: 24px;
	line-height: 24px;
}

li {
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    font-family: Arial, Helvetica;
}

p {
    margin-bottom:20px;
    font-size: 15px;
}

.node h2, article.comment h3 {
    font-size:50px;
    line-height:53px;
    padding-top: 10px;
    margin-bottom:10px;
    font-weight: normal;
    text-transform: uppercase;
}

.node h2 a, article.comment h3 a {
}

.node h2 a:hover, article.comment h3 a:hover {
    text-decoration: underline;
}

section#comments h2.title {
    font-size:40px;
    margin-bottom:15px;
}


article.comment h2 {
    color:#292a2b;
    font-size:18px;
    font-weight:normal;
    text-decoration:none;
}

.submitted, p.submitted span {
    color:#fff;
}

.submitted a {
    color:#fff;
    text-decoration:underline;
}

.submitted a:hover {
    text-decoration: none;
}

#tinymce p {
    margin-bottom: 10px;
}

#first-time p {
    padding:10px 0;
}
